<div class="producto_restar_cantidad producto_cantidad">
    <form action="/pedido/restar_producto/<%= p.Id %>" method="POST">
        <div>
            <label for="cantidad">Seleccionar la cantidad deseada</label>
            <select class="select_cantidad" name="cantidad" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="producto_cantidad_botones">
            <button class="producto_boton_cancelar boton_modificar_cantidad" type="button" onclick="ocultarOpcionesResta(<%= i %>)">Cancelar</button>
            <button class="producto_boton_restar boton_modificar_cantidad" type="submit">Restar a pedido</button>
        </div>
        
        
    </form>
</div>
