<div class="producto_sumar_cantidad producto_cantidad">
    <form action="/pedido/agregar_producto/<%= p.Id %>/<%= ruta %>" method="POST">
        <div>
            <label for="cantidad">Seleccionar la cantidad deseada</label>
            <select class="select_cantidad" name="cantidad" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button class="producto_boton_agregar" type="submit">Agregar a pedido</button>
        
    </form>
</div>
