<form action="/admin/signin" method="POST">

    <label> Contraseña: </label>
    <input type="password" name="contraseña">

    <div class="botones">
        <a href="/productos" class="boton boton_cancelar">Cancelar</a>
        <button type="submit" class="boton boton_aceptar">Aceptar</button>
    </div>

</form>