<div class="contenedor">

    <form class="formulario_seccion" action="/admin/nueva_seccion" method="POST">
        <label class="label_nombre">Nombre de la Seccion</label>
        <input class="input_nombre" type="text" name="Nombre">
        <div class="formulario_botones">
            <a class="boton boton_cancelar" href="/admin">Cancelar</a>
            <button class="boton boton_aceptar" type="submit">Aceptar</button>
        </div>
    </form>

</div>